#eclipse
.loadpath
.project

#gvim
*.swp
*~

#netbeans
nbproject/

#rails
coverage.data
coverage/
config/database.yml
db/schema.rb
db/*.sqlite3
tmp/
log/
public/packages
*.log
*.pid
*.cache

iocache/
#TigerReport
download_files/**
test
memcached.yml

.sass-cache/
.DS_Store
.svn
rerun.txt
config/config.yml
config/cache.yml
config/webservice.yml
config/initializers/cas_initializer.rb
server.sh

#bundle
bundler_stubs/
.bundle/

#rvm
.rvmrc
.ruby-gemset
.ruby-version
.tags
.rspec

config/initializers/abstract_mysql_adapter.rb
coverage
.byebug_history

#dump.rdb
dump.rdb
